Flask==2.2.2
Werkzeug==2.2.2
sqlalchemy==1.4.46
flask-sqlalchemy==3.0.3
Flask-Cors==3.0.10
psycopg2-binary
tabulate
requests
python-dateutil
pandas
pyyaml
gunicorn
# Видалено bcrypt, PyJWT і flask-jwt-extended, які використовувались для аутентифікації
